$sec-font: 'Roboto', sans-serif;
$primary-color: #bcdcdb;
$secondary-color: #cceeef;
$tertiary-color: #96b0af;
$col-1: #ffb3ba;
$col-2: #bae1ff;
$col-3: #b5f8c3;
$col-4: #ffc583;
$col-5: #b687ff;

$help-border: 1px solid red;
$help-border-2: 1px solid orange;

// *******************************************
// ** EVENT-LIST (ul)
// *******************************************
// ul:        div-1 > li (grid) > / div-2 / button
// li(grid):  div-2 / button
// div-1:     h2 / h3 /p
// div-2:     p / p / p / p / p / p/

// ** LISTE (ul) *************************************************************************************
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  p {
    font-family: $sec-font;
  }

  @media screen and (min-width: 992px) {
    margin: 0 5vw;
  }
  @media screen and (min-width: 1400px) {
    margin: 0 10vw;
  }
  @media screen and (min-width: 1400px) {
    margin: 0 15vw;
  }
}
// **** Event-Title-Container (div-1) *******************************************
.event-title-container {
  width: 100%;
  border: 2px solid $tertiary-color;
  border-radius: 5px 5px 0 0;
  background-color: $primary-color;
  margin-top: 0.7rem;
  h2 {
    width: 100%;
    margin: 0 0 5px 0;
    padding: 5px;
    text-align: center;
    justify-self: center;
    color: black;
    font-family: $sec-font;
  }
  h4 {
    padding: 5px 30px 0 30px;
    margin: 0;
  }
  p {
    margin: 0;
    padding: 0 0 10px 0;
  }
  border-bottom: none;
}

// **** LIST-ITEM (il) *******************************************************************************
.event {
  display: grid;
  place-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
  margin-bottom: 1.2rem;
  text-align: center;
  border: 3px solid $tertiary-color;
  // border-radius: 5px 5px 0 0;
  position: relative;
  background-color: $primary-color;
  // TESTING
  // border: 3px solid black;
  background-color: primary;
  background-color: white;
  border: 2px solid $tertiary-color;
  border-top: none;

  @media screen and (min-width: 992px) {
    margin-bottom: 2rem;
  }
}

// **** Details-Container (div-2) ************************************************
.details-container {
  margin-top: 0.7rem;
  padding: 0 1.5rem;
  //   Testing
  background-color: white;
  border-radius: 5px 5px 0 0;

  // Überschriften (alle) ------------------------------------
  .details-heading {
    color: black;
    padding: 7px;
    background-color: $primary-color;
    border: solid $tertiary-color 2px;
    border-radius: 5px 5px 0px 0px;
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-family: $sec-font;
    font-weight: 700;
  }

  // Text - Details (Summary / Start / Ende) ----------------
  .details,
  .start-text,
  .event-end {
    margin-top: 0;
    margin-bottom: 1.5rem;
    padding: 15px;
    border: solid $tertiary-color 2px;
    border-top: none;
  }
  // Text - Erstellungs-Datum -------------------------------
  .created-text {
    font-size: smaller;
    margin: 0;
  }

  @media screen and (min-width: 768px) {
    margin: 0.5rem 5vw;
  }
  @media screen and (min-width: 992px) {
    margin-top: 0.5rem;
    margin: 0.5rem 8vw;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 0.5rem;
    margin: 0.5rem 12vw;
  }
  border: none;
  background-color: white;
}

// **** BUTTON  ************************************************************************
.details-btn {
  align-self: center;
  margin-bottom: 0.5rem;
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    scale: 1.1;
  }
}

// @media screen and (min-width: 768px) and (max-width: 1199px) {
//   // ** LISTE (ul) ********************
//   ul {
//     margin: 0 5vw;
//     padding: 0;
//     list-style: none;
//     p {
//       font-family: $sec-font;
//       margin: 5px 0;
//     }
//   }
//   .details-container {
//     margin-top: 0.5rem;
//     margin: 0.5rem;
//     padding: 0 10vw;

//     .details,
//     .start-text,
//     .event-end {
//       margin-top: 0;
//       margin-bottom: 2rem;
//       padding: 10px;
//       border: solid $tertiary-color 2px;
//       // border: solid white 1px;
//       border-top: none;
//       background-color: white;
//     }

//     .details-heading {
//       color: black;
//       padding: 7px;
//       background-color: $primary-color;
//       border: solid $tertiary-color 2px;
//       border-radius: 5px 5px 0px 0px;
//       margin-top: 0;
//       margin-bottom: 0;
//       font-family: $sec-font;
//       font-weight: 700;
//     }
//     .created-text {
//       font-size: smaller;
//       margin: 0;
//     }
//   }
// }

// @media screen and (min-width: 401px) and (max-width: 768px) {
//   gap: 1.5rem;
// }
// @media screen and (min-width: 769px) and (max-width: 1999px) {
//   gap: 2rem;
// }
// @media (min-width: 2000px) {
//   gap: 3rem;
// }
