@font-face {
  font-family: 'JapaneseFont';
  src: url('./fonts/Japanese.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

$pri-font: 'JapaneseFont', sans-serif;
$primary-color: #bcdcdb;
// $secondary-color:
// $teritary-color:
$col-1: #ffb3ba;
$col-2: #bae1ff;
$col-3: #b5f8c3;
$col-4: #ffc583;
$col-5: #b687ff;

.title-wrapper {
  justify-self: center;
  align-self: center;
  text-align: center;
  background-color: $primary-color;
  width: 30rem;
  font-family: $pri-font;
  color: black;
  border: 10px solid black;
  border-radius: 10px;
  h1 {
    margin: 0;
    font-size: 5rem;
  }
  h2 {
    margin: 0;
    font-size: 3rem;
  }
  margin-bottom: 1.5rem;
}

.App {
  text-align: center;
  padding: 2% 5%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.5rem;
}
h2 {
  font-family: $pri-font;
}
.App * {
  box-sizing: border-box;
}

p {
  margin: 5px 0;
}

/* 
 ** Event-Liste *************************************
  */
ul {
  padding: 0;
  list-style: none;
}
/* 
 ** Inputs *************************************
  */
input[type='text'],
input[type='number'] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin-bottom: 20px;
}
/* ******************************************************
**  CitySearch  *****
****************************************************** */
/** Input (CitySearch) **** */
.city {
  width: 250px;
  text-align: center;
}
/** Container-flex (CitySearch) **** */
#city-search {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}
/** Input-Label (CitySearch) **** */
#city-input-label {
  background-color: black;
  color: white;
  margin-bottom: 10px;
}
.suggestions {
  width: 250px;
  position: absolute;
  top: 45px;
  z-index: 2;
  align-self: center;
  margin: 0;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: center;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #bcdcdb;
}

.event {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  /* text-align: left; */
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  background-color: #bcdcdb;
}
.details-container {
  margin: 30px 0 20px 0;
}

.details-btn {
  /* position: absolute;
  right: 5px;
  bottom: 5px; */
  margin-top: 10px;
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
.details-heading {
  font-weight: 700;
  margin-top: 15px;
}
.created-text {
  margin-top: 30px;
}
#number-of-events {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}
#number-of-events > input {
  text-align: center;
}
#number-of-events > label {
  margin-bottom: 5px;
}
/* 
 ** Alerts *************************************
  */
.alerts-container {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 250px;
  z-index: 1000;
}
/* 
 ** Charts *********************************************
  */

/* @media (min-width: 0) {
  .charts-container {
    padding: 0 5%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .eGC-container {
    margin-bottom: 2rem;
  }
}
@media (min-width: 769px) {
  .charts-container {
    padding: 0 10%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: end;
    justify-content: center;
    align-content: center;
    gap: 2rem;
  }
  .eGC-container {
    margin-bottom: 0;
  }
  .cEC-container {
    margin-bottom: 0;
  }
} */
.charts-container {
  display: grid;
  grid-template-columns: 4fr 5fr;
  gap: 1rem; /* Standard-Abstand zwischen den Charts */
}

@media (max-width: 768px) {
  .charts-container {
    grid-template-columns: 1fr; /* Nur eine Spalte bei schmaleren Bildschirmen */
    gap: 2rem; /* Weniger Abstand zwischen den Charts */
  }
}

@media (min-width: 769px) {
  .charts-container {
    padding: 0 5%;
    gap: 0rem;
  }
}

@media (min-width: 1024px) {
  .charts-container {
    padding: 0 12%;
    gap: 0rem;
  }
}

@media (min-width: 2000px) {
  .charts-container {
    padding: 0 20%;
    gap: 0rem;
  }
}
.eGC-container,
.cEC-container {
  padding: 0;
}
