@font-face {
  font-family: 'JapaneseFont';
  src: url('./fonts/Japanese.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

$pri-font: 'JapaneseFont', sans-serif;
$sec-font: 'Roboto', sans-serif;
$primary-color: #bcdcdb;
$secondary-color: #cceeef;
$tertiary-color: #96b0af;
$col-1: #ffb3ba;
$col-2: #bae1ff;
$col-3: #b5f8c3;
$col-4: #ffc583;
$col-5: #b687ff;

// **********************************************
//  APP CSS
// **********************************************
.App {
  * {
    box-sizing: border-box;
  }
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  padding: 2% 5% 2% 6%;

  font-family: $sec-font;

  @media screen and (min-width: 0px) and (max-width: 575px) {
    gap: 1.5rem;
  }
  @media screen and (min-width: 401px) and (max-width: 767px) {
    gap: 1.5rem;
  }
  @media screen and (min-width: 768px) and (max-width: 1999px) {
    gap: 2rem;
  }
  @media (min-width: 2000px) {
    gap: 3rem;
  }
}

// ** LOGO  ***************************
.title-wrapper {
  justify-self: center;
  align-self: center;
  text-align: center;
  width: 300px;
  padding: 12px 30px;
  background-color: $primary-color;
  font-family: $pri-font;
  color: black;
  border: 7px solid black;
  border-radius: 10px;
  margin-bottom: 0.5rem;

  h1 {
    margin: 0;
    font-size: 5rem;
  }
  h2 {
    margin: 0 0 0.5rem 0;
    font-family: $sec-font;
    font-size: 1.2rem;
  }
}

/* 
 ** Alerts *************************************
  */
.alerts-container {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 250px;
  z-index: 1000;
}
