// src\App.scss
@font-face {
  font-family: 'JapaneseFont';
  src: url('./fonts/Japanese.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

$pri-font: 'JapaneseFont', sans-serif;
$sec-font: 'Roboto', sans-serif;
$primary-color: #bcdcdb;
$secondary-color: #cceeef;
$tertiary-color: #96b0af;
$col-1: #ffb3ba;
$col-2: #bae1ff;
$col-3: #b5f8c3;
$col-4: #ffc583;
$col-5: #b687ff;

// **********************************************
//  APP - CSS
// **********************************************
.App {
  * {
    box-sizing: border-box;
  }
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  padding: 2% 5% 2% 6%;

  font-family: $sec-font;

  @media screen and (min-width: 0px) and (max-width: 575px) {
    gap: 1.5rem;
  }
  @media screen and (min-width: 401px) and (max-width: 767px) {
    gap: 1.5rem;
  }
  @media screen and (min-width: 768px) and (max-width: 1999px) {
    gap: 2rem;
  }
  @media (min-width: 2000px) {
    gap: 3rem;
  }
}

// ** LOGO  ***************************
.title-wrapper {
  justify-self: center;
  align-self: center;
  text-align: center;
  width: 250px;
  padding: 12px 30px;
  background-color: $primary-color; /* Ursprüngliche Hintergrundfarbe */
  font-family: $pri-font;
  color: black;
  border: 7px solid black; /* Beibehaltung des schwarzen Rahmens */
  border-radius: 15px;
  margin: 0;
  margin-bottom: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5), inset 3px 3px 8px rgba(255, 255, 255, 0.6),
    inset -3px -3px 8px rgba(0, 0, 0, 0.3); /* Tiefer Schatten für den 3D-Effekt */

  position: relative;
  overflow: hidden;

  h1 {
    margin: 0;
    font-size: 4rem;
    color: black; /* Beibehaltung des schwarzen Textes */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); /* 3D-Effekt für den Text */
  }

  h2 {
    margin: 0 0 0.5rem 0;
    font-family: $sec-font;
    font-size: 1rem;
    color: black; /* Beibehaltung des schwarzen Textes */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* 3D-Effekt für Tiefe */
  }
}

@media screen and (min-width: 575px) {
  .title-wrapper {
    justify-self: center;
    align-self: center;
    text-align: center;
    width: 300px;
    padding: 12px 30px;
    background-color: $primary-color; /* Ursprüngliche Hintergrundfarbe */
    font-family: $pri-font;
    color: black;
    border: 7px solid black; /* Beibehaltung des schwarzen Rahmens */
    border-radius: 15px;
    margin: 0;
    margin-bottom: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5), inset 3px 3px 8px rgba(255, 255, 255, 0.6),
      inset -3px -3px 8px rgba(0, 0, 0, 0.3); /* Tiefer Schatten für den 3D-Effekt */

    position: relative;
    overflow: hidden;

    h1 {
      margin: 0;
      font-size: 5rem;
      color: black; /* Beibehaltung des schwarzen Textes */
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); /* 3D-Effekt für den Text */
    }

    h2 {
      margin: 0 0 0.5rem 0;
      font-family: $sec-font;
      font-size: 1.5rem;
      color: black; /* Beibehaltung des schwarzen Textes */
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* 3D-Effekt für Tiefe */
    }
  }
}
